.grid {
}

.line {
  display: flex;
  justify-content: center;
}

.box {
  width: 4%;
  padding-bottom: 4%;
  background-color: #333;
  border: #000 1px solid;
}

.box.snakein {
  background-color: red;
}
